img {
    display: block;
    max-width: 100%;
  }
  
  .grid-flow {
    display: grid;
    gap: 1rem;
    align-content: start;
  }

  .grid-flow[data-spacing = "large"] {
    gap:2rem;
  }

  .result-summary  {
    --padding: 2.5rem;
    --border-radius:2rem;
    
    max-width: 50rem;
    display: grid;
  }
  
  .info {
    padding: var(--padding);
    background: var(--gradient-primary);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .weather {
    padding: var(--padding);
    text-align: center;
  }

  .circle {
    margin-inline: auto;
    display: grid;
    place-content:center ;
    width: 12rem;
    background: var(--gradient-to-transparent);
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  @media (min-width: 600px ) {
    .info {
      border-radius: var(--border-radius);
    }
  }
  @media (min-width: 600px ) {
    .result-summary {
      grid-template-columns: 1fr 1fr;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: 0.5rem 1rem 3rem 
        hsl(var(--clr-neutral-hsl-700), 0.4);
    }
  }